:root {
--title-color: #212121;
--text-color: #757575;
--accent-color: #2196F3;
--bg-list-color:#F5F4FA;
--bg-footer-color:#2F303A;
--white-text-color:#ffffff;
--header-border-color:#ECECEC;
--cards-border-color:#EEEEEE;
}
body {
    font-family: 'Roboto';
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--text-color);
    background-color: var(--white-text-color);
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}
.header {
    border-bottom: 1px solid;
    color: var(--header-border-color);
}
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav {
    display: flex; 
}

.nav-link{
    margin: 25px 93px 25px 0px;
}

.nav-link > p {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: var(--title-color);
}

.web {
    color: var(--accent-color);
}

.nav-list {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.nav-list__li > a {
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--title-color);
}
.nav-list__li > a:hover,
.nav-list__li > a:active,
.nav-list__li > a:focus {
    color: var(--accent-color);
}
.curent > a {
    color: var(--accent-color);
}
.info-mail {
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.info-tel {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin-left: 50px;
    color: var(--text-color);
}
.info > a:hover,
.info > a:active,
.info > a:focus {
    color: var(--accent-color);
}
.hello {
    background-color:var(--bg-footer-color);
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    padding: 200px 0px;
}
.hero-title {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color);
}
.hero-btn {
    width: 200px;
    height: 50px;
    background-color:#2196F3;
    color: var(--white-text-color);
    border-radius: 4px;
    font-family: 'Roboto';
    font-weight: 700;
    line-height: 188%;
    font-size: 16px;
    letter-spacing: 0.06em;
    cursor: pointer;
    border: 2px solid var(--accent-color);
}
.hero-btn:hover,
.hero-btn:active,
.hero-btn:focus {
    background-color: var(--white-text-color);
    color: var(--accent-color);
}
.hiden-title {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.benefits-list {
    display: flex;
    column-gap: 30px;
}
.benefits-list__info > h3 {
    font-family: 'Roboto';
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--title-color);
}
.benefits-list__info > p {
    font-family: 'Roboto';
    line-height: 171%;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
.benefits-list__info {
    margin: 94px 0px;
}
.similar-title{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}
.work-size {
    margin-bottom: 50px;
}
.work-list {
    display: flex;
    gap: 30px;
    padding-bottom: 94px;
}
.team-bg {
    background-color: var(--bg-list-color);
}
.team-size {
    padding: 94px 0px 50px 0px;
}
.our-list {
    display: flex;
    gap: 30px;
}
.our-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 94px;
    background-color: var(--white-text-color);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius:  4px;
    box-shadow: 0px 1px 0.5px 0.5px rgb(120, 120, 120, 0.4);
}
.our-item > h3 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 30px 0px 10px 0px;
    color: var(--title-color);
}
.our-item > p {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    color: var(--text-color);
}
.footer {
    background-color: var(--bg-footer-color);
}
.footer-text {
    padding: 60px 0px 20px 0px;
}
.studio {
    color: var(--white-text-color);
}
.address-link {
    margin-bottom: 9px;
}
.address-link > a {
    font-family: 'Roboto';
    line-height: 171%;
    letter-spacing: 0.03em;
    padding-bottom: 9px;
    color: var(--white-text-color);
}
.address-mail > a {
    font-family: 'Roboto';
    line-height: 171%;
    letter-spacing: 0.03em;
    color: var(--white-text-color);
    opacity: 0.6;
}
.address-tel {
    padding: 9px 0px 60px 0px;
}
.address-tel > a {
    font-family: 'Roboto';
    line-height: 171%;
    letter-spacing: 0.03em;
    color: var(--white-text-color);
    opacity: 0.6;
}
.push > a:hover,
.push > a:active,
.push > a:focus {
    color: var(--accent-color);
    opacity: 1;
}
.filter-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 94px 0px 50px 0px;
}
.filter-list__item > button {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    background-color: var(--bg-list-color);
    border-radius: 4px;
    padding: 6px 22px;
}
.filter-list__item > button:hover,
.filter-list__item > button:active,
.filter-list__item > button:focus {
    background-color: var(--accent-color);
    color: var(--white-text-color);
    box-shadow: 0px 10px 13px -7px rgb(120, 120, 120, 0.4);
    cursor: pointer;
}
.palitra {
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
    margin-bottom: 94px;
}
.palitra-item {
    border: 1px solid var(--cards-border-color);
}
.palitra-item > h3 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.06em;
    padding: 20px 0px 4px 24px;
    color: var(--title-color);
}
.palitra-item > p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 188%;
    letter-spacing: 0.03em;
    padding: 0px 0px 20px 24px;
    color: var(--text-color);
}