:root {
--title-color: #212121;
--text-color: #757575;
--accent-color: #2196F3;
--bg-list-color:#F5F4FA;
--bg-footer-color:#2F303A;
--white-text-color:#ffffff;
--header-border-color:#ECECEC;
--cards-border-color:#EEEEEE;
}
body {
    font-family: 'Roboto';
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--text-color);
    background-color: var(--white-text-color);
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}
.header {
    border-bottom: 1px solid;
    color: var(--header-border-color);
}
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav {
    display: flex; 
}

.nav-link{
    margin: 25px 93px 25px 0px;
}

.nav-link > p {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--title-color);
}

.web {
    color: var(--accent-color);
}

.nav-list {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.nav-list__li > a {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color);
}
.nav-list__li > a:hover,
.nav-list__li > a:active,
.nav-list__li > a:focus {
    color: var(--accent-color);
}
.curent > a {
    color: var(--accent-color);
}
.info-mail {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.info-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-left: 50px;
    color: var(--text-color);
}
.info > a:hover,
.info > a:active,
.info > a:focus {
    color: var(--accent-color);
}
.hello {
    background-color:var(--bg-footer-color);
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    padding: 200px 0px;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color);
}
.hero-btn {
    width: 200px;
    height: 50px;
    background-color:#2196F3;
    color: var(--white-text-color);
    border-radius: 4px;
    font-weight: 700;
    line-height: 1.88;
    font-size: 16px;
    letter-spacing: 0.06em;
    cursor: pointer;
    border: 2px solid var(--accent-color);
}
.hero-btn:hover,
.hero-btn:active,
.hero-btn:focus {
    background-color: var(--white-text-color);
    color: var(--accent-color);
}
.hiden-title {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.benefits-list {
    display: flex;
    column-gap: 30px;
}
.benefits-list__info > h3 {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--title-color);
}
.benefits-list__info > p {
    line-height: 1.71;
    color: var(--text-color);
}
.benefits-list__info {
    margin: 94px 0px;
}
.section-title{
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--title-color);
}
.work-size {
    margin-bottom: 50px;
}
.work-list {
    display: flex;
    gap: 30px;
    padding-bottom: 94px;
}
.team-bg {
    background-color: var(--bg-list-color);
}
.team-size {
    padding: 94px 0px 50px 0px;
}
.our-list {
    display: flex;
    gap: 30px;
}
.our-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 94px;
    background-color: var(--white-text-color);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius:  4px;
    box-shadow: 0px 1px 0.5px 0.5px rgb(120, 120, 120, 0.4);
}
.our-item > h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin: 30px 0px 10px 0px;
    color: var(--title-color);
}
.our-item > p {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 30px;
    color: var(--text-color);
}
.footer {
    background-color: var(--bg-footer-color);
}
.footer-text {
    padding: 60px 0px 20px 0px;
}
.studio {
    color: var(--white-text-color);
}
.address {
    font-style: normal;
}
.address-link {
    margin-bottom: 9px;
}
.address-link > a {
    line-height: 1.71;
    padding-bottom: 9px;
    color: var(--white-text-color);
}
.address-mail > a {
    line-height: 1.71;
    color: var(--white-text-color);
    opacity: 0.6;
}
.address-tel {
    padding: 9px 0px 60px 0px;
}
.address-tel > a {
    line-height: 1.71;
    color: var(--white-text-color);
    opacity: 0.6;
}
.push > a:hover,
.push > a:active,
.push > a:focus {
    color: var(--accent-color);
    opacity: 1;
}
.filter-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 94px 0px 50px 0px;
}
.filter-list__item > button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--title-color);
    background-color: var(--bg-list-color);
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
}
.filter-list__item > button:hover,
.filter-list__item > button:active,
.filter-list__item > button:focus {
    background-color: var(--accent-color);
    color: var(--white-text-color);
    box-shadow: 0px 10px 13px -7px rgb(120, 120, 120, 0.4);
    cursor: pointer;
}
.palitra {
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
    margin-bottom: 94px;
}
.palitra-item {
    border: 1px solid var(--cards-border-color);
}
.palitra-item > h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding: 20px 0px 4px 24px;
    color: var(--title-color);
}
.palitra-item > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    padding: 0px 0px 20px 24px;
    color: var(--text-color);
}
.filter-btn > button {
    background-color: var(--accent-color);
    color: var(--white-text-color);
    box-shadow: 0px 10px 13px -7px rgb(120, 120, 120, 0.4);
}

@media (max-width:1200px) {
    .container {
        margin: 0px 20px;
    }
    .work-item > img {
        width: 340px;
    }
    .work-list {
        justify-content: space-around;
        gap: 0px;
    }
    .our-list {
        gap: 18px;
    }
    .team-size {
        padding: 70px 0px 45px 0px;
    }
}
@media (max-width:940px) {
    .info-tel {
        margin-left: 10px;
    }
    .nav-list {
        margin-left: -48px;
        gap: 20px;
        font-size: 12px;
    }
    .info {
        font-size: 12px;
    }
    .work-item > img {
        width: 275px;
    }
    .work-size {
        margin-bottom: 40px;
    }
    .section-title {
        font-size: 34px;
    }
    .our-list {
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 60px;
    }
    .our-item {
        margin-bottom: 45px;
    }
}
@media (max-width:768px) {
    .hero-title {
        font-size: 40px;
    }
    .benefits-list__info {
        margin: 50px 0px;
    }
    .work-item > img {
        width: 225px;
    }
    .team-size {
        padding: 35px 0px 60px 0px;
    }
    .palitra {
        justify-content: center;
    }
}
@media (max-width:480px) {
    .nav-list {
        flex-direction: column;
        gap: 10px;
        justify-content: center;
    }
    .info {
        display: flex;
        flex-direction: column;
    }
    .info-mail {
        margin: 0px 0px 5px 15px;
    }
    .hero {
        padding: 100px 0px;
    }
    .hero-title {
        font-size: 33px;
}
    .hero-btn {
        width: 165px;
        height: 40px;
        font-size: 14px;
    }
    .benefits-list {
        flex-wrap: wrap;
    }
    .benefits-list__info {
        margin: 30px 0px;
        text-align: center;
    }
    .work-list {
        flex-wrap: wrap;
        gap: 15px;
    }
    .work-item > img {
        width: 300px;
    }
}
@media(max-width:415) {
    .nav-list {
        margin-left: -65px;
    }
    .hero {
        padding: 85px 0px;
    }
}
@media (max-width:376px) {
    .nav-list {
        margin-left: -85px;
    }
    .hero {
        padding: 85px 0px;
    }
}